In [2]:
import pandas as pd
data = [1,2,3,4]
srs = pd.Series(data)
print(srs)
print(type(srs))

0    1
1    2
2    3
3    4
dtype: int64
<class 'pandas.core.series.Series'>

In [7]:
import pandas as pd
data = [1,2,3,4]
srs = pd.Series(data, index=['a','b','c','d'])
print(srs)
print(type(srs))

a    1
b    2
c    3
d    4
dtype: int64
<class 'pandas.core.series.Series'>

In [9]:
import pandas as pd
data = [1,2,3,4]
srs = pd.Series(data, index=['a','b','c','d'])
print(srs)
print(srs['a':'c'])

a    1
b    2
c    3
d    4
dtype: int64
a    1
b    2
c    3
dtype: int64

In [2]:
import pandas as pd
data=[[1,2,3,4,5],[3,4,5]]
df=pd.DataFrame(data)
print(df)
print(type(df))

   0  1  2    3    4
0  1  2  3  4.0  5.0
1  3  4  5  NaN  NaN
<class 'pandas.core.frame.DataFrame'>

In [10]:
import pandas as pd
data={"a":[1,2,3,4,5],"b":[3,4,5,6,7]}
df=pd.DataFrame(data)
print(df)

   a  b
0  1  3
1  2  4
2  3  5
3  4  6
4  5  7

In [12]:
#dictionary
data = {'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18]}
df=pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

In [13]:
data = {'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18]}
df=pd.DataFrame(data)
for col in df.columns:
    if col=='Name':
        col=="Username"

In [14]:
df

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

In [24]:
df.rename(columns={'Name':'Username'},inplace=True)

In [25]:
df

  Username  Age
a      Tom   20
1     nick   21
2    krish   19
3     jack   18

In [22]:
df.rename(index={'0':'a'},inplace=True)

In [23]:
df

  Username  Age
a      Tom   20
1     nick   21
2    krish   19
3     jack   18

In [26]:
df.rename(columns={'Age':'Ages'},index={'1':'b'},inplace=True)

In [27]:
df

  Username  Ages
a      Tom    20
b     nick    21
2    krish    19
3     jack    18

In [29]:
print(df.rename(columns=str.lower, index=str.title))

  username  ages
A      Tom    20
B     nick    21
2    krish    19
3     jack    18

In [30]:
print(df.add_prefix('X_'))

  X_Username  X_Ages
a        Tom      20
b       nick      21
2      krish      19
3       jack      18

In [31]:
print(df.add_suffix('_X'))

  Username_X  Ages_X
a        Tom      20
b       nick      21
2      krish      19
3       jack      18

In [32]:
df

  Username  Ages
a      Tom    20
b     nick    21
2    krish    19
3     jack    18

In [36]:
df1=pd.DataFrame({"A":[1,2,3], "B":[4,5,6]})
df2=pd.DataFrame({"A":[2,3,4], "C":[5,6,7]})
print(df1)
print(df2)
df=pd.concat([df1,df2])
print("After concate")
print(df)

   A  B
0  1  4
1  2  5
2  3  6
   A  C
0  2  5
1  3  6
2  4  7
After concate
   A    B    C
0  1  4.0  NaN
1  2  5.0  NaN
2  3  6.0  NaN
0  2  NaN  5.0
1  3  NaN  6.0
2  4  NaN  7.0

In [37]:
df1=pd.DataFrame({"A":[1,2,3], "B":[4,5,6]})
df2=pd.DataFrame({"A":[2,3,4], "C":[5,6,7]})
print(df1)
print(df2)
df=pd.concat([df1,df2], axis=0, join='inner')
print("After concate")
print(df)

   A  B
0  1  4
1  2  5
2  3  6
   A  C
0  2  5
1  3  6
2  4  7
After concate
   A
0  1
1  2
2  3
0  2
1  3
2  4

In [38]:
df1=pd.DataFrame({"A":[1,2,3], "B":[4,5,6]})
df2=pd.DataFrame({"A":[2,3,4], "C":[5,6,7]})
print(df1)
print(df2)
df=pd.concat([df1,df2], axis=1, join='inner')
print("After concate")
print(df)

   A  B
0  1  4
1  2  5
2  3  6
   A  C
0  2  5
1  3  6
2  4  7
After concate
   A  B  A  C
0  1  4  2  5
1  2  5  3  6
2  3  6  4  7

In [40]:
import pandas as pd
left = pd.DataFrame({
   'id':[1,2,3,4,5],
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'subject_id':['sub1','sub2','sub4','sub6','sub5']})
right = pd.DataFrame(
   {'id':[1,2,3,4,5],
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
   'subject_id':['sub2','sub4','sub3','sub6','sub5']})
print (left)
print (right)

   id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub6
4   5  Ayoung       sub5
   id   Name subject_id
0   1  Billy       sub2
1   2  Brian       sub4
2   3   Bran       sub3
3   4  Bryce       sub6
4   5  Betty       sub5

In [41]:
pd.merge(left,right,on='id')
#common

   id  Name_x subject_id_x Name_y subject_id_y
0   1    Alex         sub1  Billy         sub2
1   2     Amy         sub2  Brian         sub4
2   3   Allen         sub4   Bran         sub3
3   4   Alice         sub6  Bryce         sub6
4   5  Ayoung         sub5  Betty         sub5

In [43]:
#common 
pd.merge(left,right,on='subject_id')

   id_x  Name_x subject_id  id_y Name_y
0     2     Amy       sub2     1  Billy
1     3   Allen       sub4     2  Brian
2     4   Alice       sub6     4  Bryce
3     5  Ayoung       sub5     5  Betty

In [45]:
pd.merge(left,right,on=['id','subject_id'])
#two common

   id  Name_x subject_id Name_y
0   4   Alice       sub6  Bryce
1   5  Ayoung       sub5  Betty

In [47]:
pd.merge(left, right, on='subject_id', how='left')
#Belonging all left table value

   id_x  Name_x subject_id  id_y Name_y
0     1    Alex       sub1   NaN    NaN
1     2     Amy       sub2   1.0  Billy
2     3   Allen       sub4   2.0  Brian
3     4   Alice       sub6   4.0  Bryce
4     5  Ayoung       sub5   5.0  Betty

In [48]:
pd.merge(left, right, on='subject_id', how='right')
#Belonging all right table value

   id_x  Name_x subject_id  id_y Name_y
0   2.0     Amy       sub2     1  Billy
1   3.0   Allen       sub4     2  Brian
2   4.0   Alice       sub6     4  Bryce
3   5.0  Ayoung       sub5     5  Betty
4   NaN     NaN       sub3     3   Bran

In [50]:
pd.merge(left, right, on='subject_id', how='inner')
#Belonging all common value of two tables

   id_x  Name_x subject_id  id_y Name_y
0     2     Amy       sub2     1  Billy
1     3   Allen       sub4     2  Brian
2     4   Alice       sub6     4  Bryce
3     5  Ayoung       sub5     5  Betty

In [52]:
pd.merge(left, right, on='subject_id', how='outer')
#include all the values of the table

   id_x  Name_x subject_id  id_y Name_y
0   1.0    Alex       sub1   NaN    NaN
1   2.0     Amy       sub2   1.0  Billy
2   3.0   Allen       sub4   2.0  Brian
3   4.0   Alice       sub6   4.0  Bryce
4   5.0  Ayoung       sub5   5.0  Betty
5   NaN     NaN       sub3   3.0   Bran

In [60]:
import pandas as pd
cars=pd.read_csv(r"mtcars.csv")
#pd.read_excel(filename="", sheetname="")
cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [56]:
cars.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [57]:
cars.head(10)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4

In [61]:
cars.tail()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,2

In [62]:
cars.tail(10)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [63]:
cars.shape

(32, 12)

In [64]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   model   32 non-null     object
 1   mpg     32 non-null     float64
 2   cyl     32 non-null     int64
 3   disp    32 non-null     float64
 4   hp      32 non-null     int64
 5   drat    32 non-null     float64
 6   wt      32 non-null     float64
 7   qsec    32 non-null     float64
 8   vs      32 non-null     int64
 9   am      32 non-null     int64
 10  gear    32 non-null     int64
 11  carb    32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

In [65]:
cars.mean()

mpg      20.090625
cyl       6.187500
disp    230.721875
hp      146.687500
drat      3.596563
wt        3.217250
qsec     17.848750
vs        0.437500
am        0.406250
gear      3.687500
carb      2.812500
dtype: float64

In [66]:
cars.median()

mpg      19.200
cyl       6.000
disp    196.300
hp      123.000
drat      3.695
wt        3.325
qsec     17.710
vs        0.000
am        0.000
gear      4.000
carb      2.000
dtype: float64

In [67]:
cars.std()

mpg       6.026948
cyl       1.785922
disp    123.938694
hp       68.562868
drat      0.534679
wt        0.978457
qsec      1.786943
vs        0.504016
am        0.498991
gear      0.737804
carb      1.615200
dtype: float64

In [68]:
cars.max()

model    Volvo 142E
mpg            33.9
cyl               8
disp            472
hp              335
drat           4.93
wt            5.424
qsec           22.9
vs                1
am                1
gear              5
carb              8
dtype: object

In [69]:
cars.min()

model    AMC Javelin
mpg             10.4
cyl                4
disp            71.1
hp                52
drat            2.76
wt             1.513
qsec            14.5
vs                 0
am                 0
gear               3
carb               1
dtype: object

In [70]:
cars.count()

model    32
mpg      32
cyl      32
disp     32
hp       32
drat     32
wt       32
qsec     32
vs       32
am       32
gear     32
carb     32
dtype: int64

In [71]:
cars.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [75]:
cars=cars.rename(columns={'Username':'model'})
cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [76]:
cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [77]:
cars.qsec=cars.qsec.fillna(cars.qsec.mean())
cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [78]:
cars=cars.drop(columns=['S_no'])
cars

KeyError: "['S_no'] not found in axis"

NameError: name 'cars' is not defined

In [2]:
import pandas as pd
cars=pd.read_csv(r"mtcars.csv")
#pd.read_excel(filename="", sheetname="")
cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,NaN,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,NaN,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,NaN,1,1,4,2

In [5]:
import pandas as pd
df=cars[['mpg','cyl','disp','hp','drat','wt','qsec','vs','am','gear','carb']].corr()
df

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
mpg,1.000000,-0.852162,-0.847551,-0.776168,0.681172,-0.867659,0.403264,0.664039,0.599832,0.480285,-0.550925
cyl,-0.852162,1.000000,0.902033,0.832447,-0.699938,0.782496,-0.598590,-0.810812,-0.522607,-0.492687,0.526988
disp,-0.847551,0.902033,1.000000,0.790949,-0.710214,0.887980,-0.476245,-0.710416,-0.591227,-0.555569,0.394977
hp,-0.776168,0.832447,0.790949,1.000000,-0.448759,0.658748,-0.661492,-0.723097,-0.243204,-0.125704,0.749812
drat,0.681172,-0.699938,-0.710214,-0.448759,1.000000,-0.712441,0.085679,0.440278,0.712711,0.699610,-0.090790
wt,-0.867659,0.782496,0.887980,0.658748,-0.712441,1.000000,-0.187353,-0.554916,-0.692495,-0.583287,0.427606
qsec,0.403264,-0.598590,-0.476245,-0.661492,0.085679,-0.187353,1.000000,0.738666,-0.137521,-0.033423,-0.560968
vs,0.664039,-0.810812,-0.710416,-0.723097,0.440278,-0.554916,0.738666,1.000000,0.168345,0.206023,-0.569607
am,0.599832,-0.522607,-0.591227,-0.243204,0.712711,-0.692495,-0.137521,0.168345,1.000000,0.794059,0.057534
gear,0.480285,-0.492687,-0.555569,-0.125704,0.699610,-0.583287,-0.033423,0.206023,0.794059,1.000000,0.274073
carb,-0.550925,0.526988,0.394977,0.749812,-0.090790,0.427606,-0.560968,-0.569607,0.057534,0.274073,1.000000

In [6]:
import pandas as pd
df=cars[['mpg','cyl','disp','hp']].corr()
df

           mpg       cyl      disp        hp
mpg   1.000000 -0.852162 -0.847551 -0.776168
cyl  -0.852162  1.000000  0.902033  0.832447
disp -0.847551  0.902033  1.000000  0.790949
hp   -0.776168  0.832447  0.790949  1.000000

In [8]:
cars.iloc[0:5,4]
#iloc[row, col]

0    110
1    110
2     93
3    110
4    175
Name: hp, dtype: int64

In [9]:
cars.iloc[5,4]
#iloc[row, col]

105

In [10]:
cars.iloc[5,0:4]
#iloc[row, col]

model    Valiant
mpg         18.1
cyl            6
disp         225
Name: 5, dtype: object

In [11]:
cars.iloc[5:,4:]
#iloc[row, col]

     hp  drat     wt   qsec  vs  am  gear  carb
5   105  2.76  3.460  20.22   1   0     3     1
6   245  3.21  3.570  15.84   0   0     3     4
7    62  3.69  3.190  20.00   1   0     4     2
8    95  3.92  3.150  22.90   1   0     4     2
9   123  3.92  3.440  18.30   1   0     4     4
10  123  3.92  3.440  18.90   1   0     4     4
11  180  3.07  4.070  17.40   0   0     3     3
12  180  3.07  3.730  17.60   0   0     3     3
13  180  3.07  3.780  18.00   0   0     3     3
14  205  2.93  5.250  17.98   0   0     3     4
15  215  3.00  5.424  17.82   0   0     3     4
16  230  3.23  5.345  17.42   0   0     3     4
17   66  4.08  2.200  19.47   1   1     4     1
18   52  4.93  1.615  18.52   1   1     4     2
19   65  4.22  1.835  19.90   1   1     4     1
20   97  3.70  2.465  20.01   1   0     3     1
21  150  2.76  3.520  16.87   0   0     3     2
22  150  3.15  3.435  17.30   0   0     3     2
23  245  3.73  3.840  15.41   0   0     3     4
24  175  3.08  3.845  17.05   0   0     3     2
25   66  4.08  1.935  18.90   1   1     4     1
26   91  4.43  2.140  16.70   0   1     5     2
27  113  3.77  1.513  16.90   1   1     5     2
28  264  4.22  3.170  14.50   0   1     5     4
29  175  3.62  2.770    NaN   0   1     5     6
30  335  3.54  3.570    NaN   0   1     5     8
31  109  4.11  2.780    NaN   1   1     4     2

In [14]:
cars.loc[0:,'mpg']
#iloc[row, col]

0     21.0
1     21.0
2     22.8
3     21.4
4     18.7
5     18.1
6     14.3
7     24.4
8     22.8
9     19.2
10    17.8
11    16.4
12    17.3
13    15.2
14    10.4
15    10.4
16    14.7
17    32.4
18    30.4
19    33.9
20    21.5
21    15.5
22    15.2
23    13.3
24    19.2
25    27.3
26    26.0
27    30.4
28    15.8
29    19.7
30    15.0
31    21.4
Name: mpg, dtype: float64

In [15]:
cars.loc[0:,'mpg':'disp']
#iloc[row, col]

     mpg  cyl   disp
0   21.0    6  160.0
1   21.0    6  160.0
2   22.8    4  108.0
3   21.4    6  258.0
4   18.7    8  360.0
5   18.1    6  225.0
6   14.3    8  360.0
7   24.4    4  146.7
8   22.8    4  140.8
9   19.2    6  167.6
10  17.8    6  167.6
11  16.4    8  275.8
12  17.3    8  275.8
13  15.2    8  275.8
14  10.4    8  472.0
15  10.4    8  460.0
16  14.7    8  440.0
17  32.4    4   78.7
18  30.4    4   75.7
19  33.9    4   71.1
20  21.5    4  120.1
21  15.5    8  318.0
22  15.2    8  304.0
23  13.3    8  350.0
24  19.2    8  400.0
25  27.3    4   79.0
26  26.0    4  120.3
27  30.4    4   95.1
28  15.8    8  351.0
29  19.7    6  145.0
30  15.0    8  301.0
31  21.4    4  121.0

In [16]:
cars['am']

0     1
1     1
2     1
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    1
18    1
19    1
20    0
21    0
22    0
23    0
24    0
25    1
26    1
27    1
28    1
29    1
30    1
31    1
Name: am, dtype: int64

In [17]:
cars['am']=1
cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,1,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,1,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,1,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,1,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,1,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,1,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,1,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,1,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,1,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,1,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,1,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,1,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,1,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,1,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,1,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,1,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,1,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,1,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,1,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,NaN,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,NaN,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,NaN,1,1,4,2

In [19]:
cars[cars['vs']==0]

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,1,3,2
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,1,3,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,1,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,1,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,1,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,1,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,1,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,1,3,4
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,1,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,1,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,1,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,1,3,2
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,NaN,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,NaN,0,1,5,8

In [20]:
f=lambda x:x*2
cars['2am']=cars['am'].apply(f)
cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,2am
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,2
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,2
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,2
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,1,3,1,2
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,1,3,2,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,1,3,1,2
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,1,3,4,2
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,1,4,2,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,1,4,2,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,1,4,4,2
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,1,4,4,2
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,1,3,3,2
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,1,3,3,2
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,1,3,3,2
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,1,3,4,2
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,1,3,4,2
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,1,3,4,2
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,2
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,2
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,1,3,1,2
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,1,3,2,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,1,3,2,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,1,3,4,2
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,1,3,2,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,2
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,2
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,NaN,0,1,5,6,2
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,NaN,0,1,5,8,2
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,NaN,1,1,4,2,2

In [21]:
cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,2am
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,2
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,2
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,2
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,1,3,1,2
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,1,3,2,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,1,3,1,2
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,1,3,4,2
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,1,4,2,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,1,4,2,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,1,4,4,2
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,1,4,4,2
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,1,3,3,2
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,1,3,3,2
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,1,3,3,2
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,1,3,4,2
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,1,3,4,2
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,1,3,4,2
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,2
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,2
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,1,3,1,2
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,1,3,2,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,1,3,2,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,1,3,4,2
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,1,3,2,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,2
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,2
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,NaN,0,1,5,6,2
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,NaN,0,1,5,8,2
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,NaN,1,1,4,2,2

In [22]:
f=lambda x:x/2
cars['mpg/2']=cars['mpg'].apply(f)
cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,2am,mpg/2
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,2,10.50
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,2,10.50
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,2,11.40
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,1,3,1,2,10.70
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,1,3,2,2,9.35
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,1,3,1,2,9.05
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,1,3,4,2,7.15
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,1,4,2,2,12.20
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,1,4,2,2,11.40
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,1,4,4,2,9.60
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,1,4,4,2,8.90
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,1,3,3,2,8.20
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,1,3,3,2,8.65
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,1,3,3,2,7.60
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,1,3,4,2,5.20
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,1,3,4,2,5.20
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,1,3,4,2,7.35
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,2,16.20
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,2,15.20
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,2,16.95
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,1,3,1,2,10.75
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,1,3,2,2,7.75
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,1,3,2,2,7.60
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,1,3,4,2,6.65
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,1,3,2,2,9.60
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,2,13.65
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,2,13.00
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,2,15.20
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,2,7.90
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,NaN,0,1,5,6,2,9.85
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,NaN,0,1,5,8,2,7.50
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,NaN,1,1,4,2,2,10.70

In [23]:
cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,2am,mpg/2
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,2,10.50
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,2,10.50
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,2,11.40
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,1,3,1,2,10.70
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,1,3,2,2,9.35
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,1,3,1,2,9.05
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,1,3,4,2,7.15
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,1,4,2,2,12.20
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,1,4,2,2,11.40
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,1,4,4,2,9.60
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,1,4,4,2,8.90
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,1,3,3,2,8.20
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,1,3,3,2,8.65
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,1,3,3,2,7.60
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,1,3,4,2,5.20
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,1,3,4,2,5.20
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,1,3,4,2,7.35
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,2,16.20
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,2,15.20
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,2,16.95
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,1,3,1,2,10.75
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,1,3,2,2,7.75
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,1,3,2,2,7.60
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,1,3,4,2,6.65
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,1,3,2,2,9.60
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,2,13.65
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,2,13.00
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,2,15.20
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,2,7.90
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,NaN,0,1,5,6,2,9.85
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,NaN,0,1,5,8,2,7.50
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,NaN,1,1,4,2,2,10.70

In [24]:
cars=cars.drop(columns=['mpg/2'])
cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,2am
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,2
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,2
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,2
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,1,3,1,2
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,1,3,2,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,1,3,1,2
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,1,3,4,2
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,1,4,2,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,1,4,2,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,1,4,4,2
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,1,4,4,2
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,1,3,3,2
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,1,3,3,2
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,1,3,3,2
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,1,3,4,2
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,1,3,4,2
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,1,3,4,2
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,2
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,2
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,1,3,1,2
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,1,3,2,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,1,3,2,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,1,3,4,2
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,1,3,2,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,2
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,2
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,NaN,0,1,5,6,2
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,NaN,0,1,5,8,2
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,NaN,1,1,4,2,2

In [25]:
cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,2am
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,2
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,2
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,2
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,1,3,1,2
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,1,3,2,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,1,3,1,2
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,1,3,4,2
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,1,4,2,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,1,4,2,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,1,4,4,2
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,1,4,4,2
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,1,3,3,2
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,1,3,3,2
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,1,3,3,2
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,1,3,4,2
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,1,3,4,2
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,1,3,4,2
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,2
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,2
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,1,3,1,2
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,1,3,2,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,1,3,2,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,1,3,4,2
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,1,3,2,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,2
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,2
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,NaN,0,1,5,6,2
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,NaN,0,1,5,8,2
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,NaN,1,1,4,2,2

In [26]:
cars=cars.sort_values(by='mpg')
cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,2am
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,1,3,4,2
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,1,3,4,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,1,3,4,2
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,1,3,4,2
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,1,3,4,2
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,NaN,0,1,5,8,2
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,1,3,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,1,3,2,2
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,1,3,2,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,2
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,1,3,3,2
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,1,3,3,2
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,1,4,4,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,1,3,1,2
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,1,3,2,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,1,4,4,2
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,1,3,2,2
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,NaN,0,1,5,6,2
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,2
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,2
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,1,3,1,2
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,NaN,1,1,4,2,2
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,1,3,1,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,1,4,2,2
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,2
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,1,4,2,2
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,2
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,2
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,2

In [30]:
cars=cars.sort_values(by='mpg',ascending=False)
cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,2am
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,2
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,2
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,2
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,2
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,1,4,2,2
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,1,4,2,2
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,1,3,1,2
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,NaN,1,1,4,2,2
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,1,3,1,2
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,2
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,2
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,NaN,0,1,5,6,2
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,1,3,2,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,1,4,4,2
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,1,3,2,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,1,3,1,2
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,1,4,4,2
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,1,3,3,2
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,1,3,3,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,2
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,1,3,2,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,1,3,2,2
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,1,3,3,2
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,NaN,0,1,5,8,2
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,1,3,4,2
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,1,3,4,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,1,3,4,2
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,1,3,4,2
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,1,3,4,2

In [34]:
f=cars['cyl']>6
f
cars[f]

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,2am
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,1,3,2,2
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,1,3,2,2
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,1,3,3,2
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,1,3,3,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,2
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,1,3,2,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,1,3,2,2
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,1,3,3,2
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,NaN,0,1,5,8,2
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,1,3,4,2
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,1,3,4,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,1,3,4,2
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,1,3,4,2
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,1,3,4,2

In [35]:
f=cars['cyl']<6
f
cars[f]

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,2am
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,2
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,2
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,2
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,2
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,1,4,2,2
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,1,4,2,2
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,1,3,1,2
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,NaN,1,1,4,2,2

In [37]:
f=(cars['cyl']>6) & (cars['hp']>300)
f
cars[f]

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,2am
30,Maserati Bora,15.0,8,301.0,335,3.54,3.57,NaN,0,1,5,8,2